mpring.application.name=yavigestion
server.port=8080

# Base de Datos (Asegúrate de haber creado la BD 'titulacion' en pgAdmin)
spring.datasource.url=jdbc:postgresql://localhost:5432/titulacion
spring.datasource.username=postgres
spring.datasource.password=2730995m
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Para jwt
app.jwt.secret=7d8e9f2a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e
app.jwt.expiration-ms=86400000

